  </div>
    {% include 'footer.html' %}
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

</div>





  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


  <i class="fa fa-cart-shopping"></i>


    <a href="cart_item.Product.get_absolute_url">



        <div class="row my_row_class">
        <div class="mx_auto">

                https://kit.fontawesome.com/a076d05399.js
                <script src="https://kit.fontawesome.com/a076d05399.js"></script>

                                https://kit.fontawesome.com/162dba6519.js
                               <script src="https://kit.fontawesome.com/cf2b91a915.js crossmargin"="anonymous"></script>


<link rel="stylesheet" href="https://kit.fontawesome.com/21c419a9db.css" crossorigin="anonymous">
            <script src="https://kit.fontawesome.com/21c419a9db.js" crossorigin="anonymous"></script>
